@use "@site/src/scss/utilities/variables";
@use "@site/src/scss/utilities/mixins";

.docItemContainer header + *,
.docItemContainer article > *:first-child {
  margin-top: 0;
}

@media (min-width: 997px) {
  .docItemCol {
    max-width: 75% !important;
  }
}

.editButtonContainer {
  margin: 1em !important;
}
.editButtonContainerMobile {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1em;
}

.editLink {
  @include mixins.minaButtonLink;
  color: variables.$mina-white;
  &:hover {
    text-decoration: none;
    color: variables.$mina-white;
  }
}
