$screen-sm: 512px;
$screen-md: 998px;
$screen-lg: 1280px;
$screen-xl: 1440px;
$screen-xl2: 1920px;

$mina-orange: #ff603b;
$mina-teal: #9fe4c9;
$mina-gray: #d9d9d9;
$mina-gray-light: #f8f8f8;
$mina-gray-dark: #9b9b9b;
$mina-black: #2d2d2d;
$mina-white: #ffffff;
$mina-error: #e93939;
$mina-purple: #5362c8;
$mina-lavender: #cab2ff;
$mina-green: green;
