@use "@site/src/scss/utilities/variables";
@use "@site/src/scss/utilities/mixins";

/* 
This SCSS file is used to override the default Docusaurus styles. 
To override a style, we need to use the same class name as the original style.
Then, we can override the style by using the same class name and adding the new style that we desire. 
We must use `!important` at times to override some default styles.
*/

#__docusaurus {
  background-image: url("@site/static/img/mina_background.jpg");
  background-size: cover;
}

.container {
  padding-bottom: 4rem !important;

  @media screen and (min-width: variables.$screen-md) {
    padding-bottom: 5rem !important;
  }
}

.theme-doc-sidebar-container {
  border-right: none !important;
}

.theme-doc-markdown {
  & > h1:first-of-type {
    @include mixins.minaHeader1;
  }
  & > header > h1:first-of-type {
    @include mixins.minaHeader1;
  }

  & > * > a {
    color: variables.$mina-orange;
  }
}

.menu__link--sublist-caret::after {
  background: url("@site/static/svg/common/chevron_up.svg");
}

.menu {
  @media screen and (min-width: variables.$screen-md) {
    margin-left: 1rem;
    margin-bottom: 1rem;
  }
}

.menu__list {
  transition: height 30ms ease-in-out 0s !important;
  counter-reset: orderedList 0 !important;

  & > * a:hover {
    color: variables.$mina-orange;
  }

  & > .theme-doc-sidebar-item-category-level-1,
  .theme-doc-sidebar-item-link-level-1 {
    margin-left: 1.5rem;
    border-left: 1px solid rgba(45, 45, 45, 0.25);
    & > div {
      border-radius: 0;
      padding: 0;
    }
  }

  & > .theme-doc-sidebar-item-category-level-1::before,
  .theme-doc-sidebar-item-link-level-1::before {
    @include mixins.f_mono;
    font-size: 12px;
    display: flex;
    align-items: center;
    line-height: 1rem;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    opacity: 0.25;
    width: 2rem;
    counter-increment: orderedList 1 !important;
    content: counter(orderedList, decimal-leading-zero) !important;

    position: absolute;
    transform: translateX(-80%) translateY(90%);
  }
}

.menu__link {
  line-height: 2rem;

  &:hover,
  & > a {
    transition: none !important;
  }
}

.menu__list-item:not(:first-child) {
  margin-top: 0;
}

.navbar {
  height: 100%;
}

.navbar__logo {
  margin: 0 0 0 0.9rem;
  max-width: 100%;
  vertical-align: middle;
  height: auto;
  @media screen and (min-width: variables.$screen-md) {
    margin: 0 0.5rem 0 0;
  }
}

.navbar__brand {
  margin-right: 0rem;
}

.navbar__item {
  & > .navbar-docs-copy {
    padding: 0;
  }
}

.navbar__items--right {
  & > div,
  & > a {
    @media screen and (min-width: variables.$screen-lg) {
      display: flex;
      align-items: center;
      margin-left: 1rem;
    }
  }
}

.DocSearch-Button {
  border-radius: 2px !important;
  border: 1px solid variables.$mina-gray !important;
  border-width: 0.01em;
  height: 2.75rem !important;

  & > * > .DocSearch-Search-Icon,
  .DocSearch-Button-Container {
    color: variables.$mina-gray !important;
    font-weight: normal !important;
  }

  @media screen and (min-width: variables.$screen-sm) {
    width: 15rem;
  }

  @media screen and (min-width: variables.$screen-md) {
    width: 25rem;
  }

  --docsearch-searchbox-background: variables.$mina-white;
  --docsearch-muted-color: variables.$mina-black;

  &:hover {
    box-shadow: none;
  }
}

.breadcrumbs {
  @media screen and (min-width: variables.$screen-md) {
    display: none;
  }
}

.DocSearch-Button-Keys {
  display: none !important;
}

.DocSearch-SearchBar {
  --docsearch-searchbox-shadow: inset 0 0 0 2px #2a63f7;
}

.theme-edit-this-page {
  color: variables.$mina-orange;
}

.pagination-nav__link {
  border-color: variables.$mina-orange;
  & > .pagination-nav__sublabel {
    color: #a6a6a6;
  }
  & > .pagination-nav__label {
    color: variables.$mina-orange;
  }
}
