@use "../utilities/variables";

/* Changes the caret asset used in the sidebar. */
.menu__link--sublist-caret::after {
  background: url("../../static/svg/chevron_up.svg");
}

/* Changes the animation speed in the sidebar. */
.menu__list {
  transition: height 30ms ease-in-out 0s !important;
}

ul {
  list-style: none;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

a,
button {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  text-decoration: none;
  color: inherit;
}
