@use '@site/src/scss/utilities/mixins';
@use '@site/src/scss/utilities/variables';

@mixin admonition($backgroundColor: rgb(155, 155, 155)) {
  border: 1px solid rgba(45, 45, 45, 0.25);
  margin-bottom: 1em;
  border-radius: 4px;
  overflow: hidden;

  & > :first-child {
    @include mixins.minaHeader4;
    color: white;
    padding: 0.5rem 1rem;
    margin: 0;
    background-color: $backgroundColor;
    display: flex;
    align-items: center;
    gap: 0.75rem;

    & > svg {
      display: inline-block;
      height: 1em;
      width: 1em;
      fill: white;
    }
  }

  & > :nth-child(2) {
    margin: 0;
    padding: 1rem;
    & > :last-child {
      margin-bottom: 0;
    }
  }
}

.admonitionNote {
  @include admonition($backgroundColor: variables.$mina-gray-dark);
}

.admonitionInfo {
  @include admonition($backgroundColor: variables.$mina-purple);
}

.admonitionTip {
  @include admonition($backgroundColor: variables.$mina-lavender);
}

.admonitionDanger {
  @include admonition($backgroundColor: variables.$mina-error);
}

.admonitionExperimental {
  @include admonition($backgroundColor: variables.$mina-orange);
}

.admonitionSuccessTip {
  @include admonition($backgroundColor: variables.$mina-green);
}

.admonitionHeading code {
  text-transform: none;
}

.admonitionIcon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.4em;
}
