@use "@site/src/scss/utilities/variables";
@use "@site/src/scss/utilities/mixins";

.featuresGrid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem 3.125rem;

  @media screen and (min-width: variables.$screen-md) {
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem 20%;
    padding-top: 3rem;

    & > :first-child {
      grid-column: 1 / -1;
    }
  }
}

.featuresGridColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  & > img {
    width: auto;
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;

    margin-left: 0rem;
    margin-right: auto;
    width: 18rem;
    height: 15rem;

    @media screen and (min-width: variables.$screen-md) {
      margin-top: 0rem;
      margin-bottom: 1.5rem;
    }
  }
}

.featuresGridRow {
  display: flex;
  width: 100%;

  display: flex;
  height: 100%;
  flex-direction: column-reverse;
  justify-content: space-between;

  & > img {
    width: 18rem;
    height: 15rem;

    @media screen and (min-width: variables.$screen-md) {
      width: 28rem;
      height: 20rem;
    }
  }

  @media screen and (min-width: variables.$screen-md) {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5%;
  }
}

.minaLink {
  @include mixins.minaLink($color: variables.$mina-black);
  text-decoration: underline 1px dotted rgb(85, 85, 85);
  text-underline-offset: 3px;
}

.minaButtonLink {
  @include mixins.minaButtonLink;
  &:hover {
    text-decoration: none;
  }
}

.homepageSubead {
  @include mixins.minaPageSubhead;
}
