name: Test tutorials

on:
  push:

jobs:
  hello-world:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v3
        with:
          node-version: 16
      - run: |
          npm ci
          git config --global user.email "test@example.com"
          git config --global user.name "Test"
          npx ts-node scripts/tutorial-test-runner.ts docs/zkapps/tutorials/01-hello-world.mdx
